*{
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.header-class{
    display: flex;
    flex: 0.05;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #FAC213;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px black;

}

.header-class img{    
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 100px;
}

.cart-icon{
    padding: 10px;
    font-size: 1.2rem;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    text-align: center;
    height: 40px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0px 0px 10px 0px black;
    background: white;

}

.cart-icon:hover{
    color: white;
}

.cart-icon:hover{
    background-color: black;
    box-shadow: 0px 0px 20px 0px black;

}

#card-container{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#card-container > p {
    font-size: 1.5rem;
    color: black;
}

#card-container > hr{
    margin: 5px 0px;
    width: 25%;
    border: none;
    border-top:2px solid #D61C4E;

}

.card-display{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    transform: translateX(00%);
}

.card-display::-webkit-scrollbar{
    display: none;
}

.food-card {
    display: flex;
    bottom: 0;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px 0px black;
    justify-content: center;
    min-width: 40%;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 1px solid white;
    margin: 5px 7.5px;
    margin-bottom: 15px;
}

.food-card img{
    width: 100%;
}

.food-info p:first-child{
    font-size: 1.2rem;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
}

.food-info .food-type{
    font-size: 1rem;
    width: 100%;
    overflow-x: hidden;
    text-align: center;
    color: gray;
}

.food-price{
    text-align: center;
    width: 100%;
    overflow-x: hidden;
    font-weight: 700;
}

.add-cart{
    margin-top: 20px;
    padding: 10px;
    background-color: #FAC213;
    border: 1px solid white;
    box-shadow: 0px 0px 10px 1px #FAC213;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    padding-left: 10px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding-right: 10px;

}

.cart-cotainer{
    height: 70vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    margin: 10px;
    position: relative;*/
    overflow-y: hidden;
}

.add-cart:focus{
    background: #F77E21;
    box-shadow: 0px 0px 10px 1px #F77E21;
    color: black;
}

.upper-cart{
    overflow: scroll;
}

.cart-screen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    transform-origin: left;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.cart-card{
    display: flex;
    position: relative;
    flex-direction: row;
    overflow-y: hidden;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

#close-cart{
    font-size: 1.2rem;
    background-color: #D61C4E;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 40px;
    width: 40px;
    color: white;
    text-align: center;
    border: 5px solid #D61C4E;
    box-shadow: 0px 0px 10px 0px black;
    z-index: 10;
    border-radius: 100px;
    right: 10px;
}

#close-cart:hover{
    background-color: white;
    border-color: white;
    color: black;
}

.cart-card img{
    border-radius: 10px;
    width: 50%;
    width: 50%;
    margin-right: 10px;
}

.products-container{
    flex: 0.95;
    padding-bottom: 10px;
    overflow-y: scroll;
}

.cart-product-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.cart-p-name{
    width: 100%;
    font-size: 1.2rem;
}

.cart-p-quantity{
    font-size: 10px;
    margin: 5px;
    width: 100%;

}


.cart-p-price{
    font-size: 1.1rem;
    width: 100%;

}

.stock-number button{
    font-size: 1.1rem;
    background-color: white;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 30px;
    width: 30px;
    margin: 10px;
    text-align: center;
    border: 2px solid white;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 100%;
    right: 10px;
}

.stock-number button:focus{
    background: #F77E21;
    border: 2px solid #F77E21;
}


.cart-footer{
    display: flex;
    flex-flow: column;
    background: black;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    color: white;
}

.place-order{
    text-align: center;
    transition-delay: 0.2s;
}

.place-order >button {
    box-shadow: none;
    border: black;
    color: black;

}

.place-order >button:hover{
    color: white;
}

.cart-total{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.remove-cart{
    font-size: 1.1rem;
    width: 50%;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 5px;
    background-color: #D61C4E;
    color: white;
    box-shadow: 0px 0px 10px 1px black;
    border: white;
}

#popup{
    display: none;
    position: fixed;
    height: 5vh;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}

#popup button{
    display: flex;
    position: absolute;
    right: 30px;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid white;
}